*::before,
*::after,
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #000;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  margin-top: 1.5rem;
  font-size: 1.5rem;
}

.title {
  color: #fff;
  margin-bottom: 1rem;
}

.container {
  display: -ms-grid;
  display: grid;
  width: 60rem;
  grid-gap: 2.5rem;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: (1fr)[4];
      grid-template-rows: repeat(4, 1fr);
  margin: 5rem auto;
}

@media only screen and (max-width: 48em) {
  .container {
    width: 40rem;
    grid-gap: 2rem;
  }
}

@media only screen and (max-width: 30em) {
  .container {
    width: 30rem;
    grid-gap: 1.5rem;
  }
}

.container > * {
  width: 30rem;
  height: 30rem;
  display: inline-block;
  cursor: pointer;
}

@media only screen and (max-width: 48em) {
  .container > * {
    width: 20rem;
    height: 20rem;
  }
}

@media only screen and (max-width: 30em) {
  .container > * {
    width: 15rem;
    height: 15rem;
  }
}

.green {
  background-color: green;
  border-bottom-right-radius: 50%;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3 / span 2;
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  grid-row: 3 / span 2;
  opacity: 0.4;
}

.yellow {
  background-color: yellow;
  border-bottom-left-radius: 50%;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  grid-row: 3 / span 2;
  opacity: 0.4;
}

.red {
  background-color: red;
  border-top-left-radius: 50%;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / span 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
  opacity: 0.4;
}

.blue {
  background-color: blue;
  border-top-right-radius: 50%;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / span 2;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3 / span 2;
  opacity: 0.4;
}

.circle {
  background-color: #000;
  border-radius: 50%;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2 / 4;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2 / 4;
  cursor: default;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 9999;
}

p {
  color: #fff;
}

.btn {
  border: none;
  padding: 1rem;
  width: 4.5rem;
  margin: 0.6rem;
  border-radius: 1.4rem;
  cursor: pointer;
  outline: none;
}

.btn:active {
  -webkit-transform: translateY(0.1rem);
          transform: translateY(0.1rem);
}

@media only screen and (max-width: 48em) {
  .btn {
    width: 4rem;
    padding: 0.8rem;
    margin: 0.4rem;
  }
}

@media only screen and (max-width: 30em) {
  .btn {
    font-size: 0.8rem;
    width: 3rem;
    padding: 0.6rem;
    margin: 0.4rem;
  }
}

.stop {
  background-color: #e74c3c;
  color: #fff;
}

.start {
  background-color: #2ecc71;
  color: #fff;
}
/*# sourceMappingURL=style.css.map */